@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL BODY STYLES */
html, body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none; 
  scroll-behavior: smooth;
}

body {
  background-image: url('/public/background.png');
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;    
  background-attachment: fixed;  
  
  @apply text-gray-100 transition-all duration-300;
}

.main-panel {
  @apply bg-[#0f0f0f]/80 rounded-lg shadow-lg;
}
